sudo: false
language: ruby
cache: bundler
distro: xenial

matrix:
  include:
    - rvm: 2.2.10
    - rvm: 2.3.8
    - rvm: 2.4.5
    - rvm: 2.5.3
    - rvm: 2.6
    - rvm: ruby-head
  allow_failures:
    - rvm: ruby-head

branches:
  only:
    - master

before_install:
  - gem update bundler
  - gem update --system

script: bundle exec rake
